body {
    /* background-color: #f7f3e9 20%; */
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
}

h2 {
    margin-bottom: 100px;
    text-align: center;
}

span {
    background-color: black;
    color: white;
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
}

a {
    border-top: 70px;
    display: block;
    text-align: center;
    font-size: 25px;
}

a:visited {
    text-decoration: none;
    color: black;
}

#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}

#image {
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}

#tribute-info {
    margin-left: 20%;
    margin-right: 20%;
}

.imgFact {
    height: auto;
    width: 50%;
}

.factName {
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 20px;
}

.fact {
    font-size: large;
    list-style-type: none;
    line-height: 40px;
    text-justify: center;
}

@media (max-width: 600px) {
    .imgFact {
        width: 100%;
        height: auto;
    }
    #image {
        width: 100%;
        height: auto;
    }
    #tribute-info {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1000px) {
    .imgFact {
        width: 100%;
        height: auto;
    }
    #image {
        width: 100%;
        height: auto;
    }
}